@import './vars.css';

#nav {
    /* selection alignment */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    /* sizing */
    height: 5vh;
    font-size: 2.5vh;

    /* aesthetics */
    background-color: var(--color-nav);
}

.link {
    color:  var(--color-nav-link);
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link:hover {
    background-color: black;
}

.active, .active:hover {
    background-color: rgb(117, 140, 245);
}