:root {
  --color-main-background: rgb(255, 255, 255);
  --color-nav: rgb(54, 54, 58);
  --color-time-hover: rgb(209, 209, 209);
  
  --color-font2: rgb(100, 100, 100);
  --color-nav-link: rgb(255, 255, 255);
}